<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JW - Vila das Aves</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/all.css">
    <link rel="stylesheet" href="~/css/v4-shims.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <a class="navbar-brand" href="Home">
                <img src="~/img/jw_logo.png" width="70" height="70" style="position: absolute; z-index: 1; left: 20px; top: 10px;" class="d-inline-block align-top">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation" style="border-color: transparent;">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="margin-left: 80px">
                    <li class="nav-item">
                        <a class="nav-link text-light lead" asp-area="" asp-controller="Discursos" asp-action="Index"><img src="~/img/public-speech.png" width="40" heigh="40" style="margin-right: 10px" />Discursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light lead" asp-area="" asp-controller="Territorios" asp-action="Index"><img src="~/img/territorios.png" width="40" heigh="40" style="margin-right: 10px" />Territórios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light lead" asp-area="" asp-controller="Stocks" asp-action="Index"><img src="~/img/stock.png" width="40" heigh="40" style="margin-right: 10px" />Publicações</a>
                    </li>

                </ul>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <br />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Jorge Monteiro - Gestor de Congregação
        </div>
    </footer>
 @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
