html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.tabs-content li {
    display: none;
    list-style: none;
}

    .tabs-content li.is-active {
        display: block;
    }
