@model IEnumerable<JW_Management.Models.Discurso>

@{
    ViewData["Title"] = "Discursos";
}

<h1>Discursos</h1>

<p>
    <a class="btn btn-lg btn-primary btn-block" asp-action="Novo">Adicionar Discurso</a>
</p>

<hr />

<partial name="~/Views/Discursos/Calendario.cshtml" />

