@model IEnumerable<JW_Management.Models.Discurso>

@{
    ViewData["Title"] = "Discursos";
}

<table style="width:100%">
    <tr>
        <th>
            <h1>Agenda de Discursos</h1>
        </th>
        <th class="float-right">
            <a class="btn btn-lg btn-primary" asp-action="Novo"><i class="fas fa-plus-square"></i>  Adicionar Discurso</a>
        </th>
    </tr>
</table>

<hr />

<partial name="~/Views/Discursos/Calendario.cshtml" />

