@{
    ViewData["Title"] = "Acesso Negado";
}

<section class="hero is-danger is-medium">
    <div class="hero-body">
        <p class="title">
            Permissão de Acesso Negada
        </p>
        <p class="subtitle">
            Você não tem permissões suficientes para aceder a esta pagina. Por contacte o administrador do sistema. <br />
            <b>Jorge Monteiro</b>
        </p>
        &nbsp;
        <a class="button is-info is-fullwidth" href="~/">Voltar</a>
    </div>
</section>