@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<div class="container">
   <div class="card">
  <div class="card-content">
    <div class="media">
        <div class="media-left">
        <figure class="image is-128x128">
      <img src="~/img/literatura2.jpg" alt="Literatura">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-1">Literatura</p>
      </div>
    </div>

    <div class="content">
        <p>
        Este site tem como objetivo ajudar os irmãos da literatura a fazer uma melhor gestão dos stocks atuais. Dando informações de quantidades a separar por grupo.
        </p> 
    </div>
    </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">Stocks Atuais</a>
    <a href="#" class="card-footer-item">Entradas</a>
    <a href="#" class="card-footer-item">Movimentos</a>
  </footer>
</div>
</div>