@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<div class="container">
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-128x128">
                        <img src="~/img/literatura2.jpg" alt="Literatura">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-2">Literatura</p>
                </div>
            </div>

            <div class="content">
                <p>
                    Este site tem como objetivo ajudar os irmãos da literatura a fazer uma melhor gestão dos stocks atuais. Dando informações de quantidades a separar por grupo.
                </p>
            </div>
        </div>
        <footer class="card-footer">
            <a href="~/Literatura" class="card-footer-item">Stocks Atuais</a>
            <a href="~/Literatura/Movimentos/1" class="card-footer-item">Entradas</a>
            <a href="~/Literatura/Movimentos/2" class="card-footer-item">Saidas</a>
        </footer>
    </div>
    &nbsp;
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-128x128">
                        <img src="~/img/territorios.jpg" alt="Territórios">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-2">Territórios</p>
                </div>
            </div>

            <div class="content">
                <p>
                    Este site permite ajudar o servo dos território a fazer uma melhor gestão dos mesmos, guardando toda a informação informaticamente e enviando os territorios por email.
                </p>
            </div>
        </div>
        <footer class="card-footer">
            <a href="~/Territorios" class="card-footer-item">Territórios</a>
        </footer>
    </div>
</div>