@{
    ViewData["Title"] = "JW - Gestor de Congregação";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="Discursos">
                <img src="~/img/public-speech-carrousel.png" class="d-block w-100" alt="...">
            </a>
            <div class="carousel-caption">
                <h5>Discursos</h5>
                <p>Agendamento de Discursos para melhor organização!</p>
            </div>
        </div>
        <div class="carousel-item">
            <a href="Territorios">
                <img src="~/img/territorios_carrousel.jpg" class="d-block w-100" alt="...">
            </a>
            <div class="carousel-caption">
                <h5>Territórios</h5>
                <p>Organização dos Territorios para toda a congregação!</p>
            </div>
        </div>
        <div class="carousel-item">
            <a href="Stocks">
                <img src="~/img/literaturaCarousel.jpg" class="d-block w-100" alt="...">
            </a>
            <div class="carousel-caption">
                <h5>Literatura</h5>
                <p>Mantenha o controle de todos os stocks!</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br />
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="~/img/speech.jpg" alt="Discursos Públicos">
            <div class="card-body">
                <h5 class="card-title">Discursos Públicos</h5>
                <p class="card-text">Ao falar, Jesus tocava o coração dos ouvintes. Quando Jesus terminou o Sermão do Monte, o mais famoso discurso público já proferido, Mateus 7:28 diz: “O efeito foi que as multidões ficaram assombradas com o seu modo de ensinar.” <br /> <br />Em janeiro de 1945, os discursos públicos proferidos em pessoa tornaram-se parte regular de nossas reuniões semanais. Desde então, têm contribuído significativamente para nosso crescente programa de educação bíblica. Os esboços providos têm abrangido uma ampla variedade de tópicos, inclusive temas doutrinais. Os esboços mais recentes tratam de problemas cotidianos, explorando a aplicação correta de princípios bíblicos. Há mais de cem esboços à disposição. </p>
                <a href="Discursos" class="btn btn-primary btn-block">Agendamento</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="~/img/territorios.jpg" alt="Territorios">
            <div class="card-body">
                <h5 class="card-title">Teritórios</h5>
                <p class="card-text">Pouco antes de sua morte, Jesus declarou: “Estas boas novas do Reino serão pregadas em toda a terra habitada, em testemunho a todas as nações, e então virá o fim.” (Mateus 24:14). <br /> <br /> Jesus instruiu seus discípulos a pregar as boas novas de casa em casa. Esses evangelizadores do primeiro século receberam territórios específicos para pregar. De modo similar, nossa obra de pregação hoje é bem organizada, e cada congregação recebe uma área específica para cobrir. Isso possibilita que cumpramos a ordem dada por Jesus de ‘pregar e dar testemunho cabal’. — Atos 10:42.</p>
                <a href="Territorios" class="btn btn-primary btn-block">Territórios</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card ">
            <img class="card-img-top" src="~/img/bible.jpg" alt="Publicações">
            <div class="card-body">
                <h5 class="card-title">Publicações</h5>
                <p class="card-text">Jesus disse: “Vocês receberam de graça, portanto deem de graça.” (Mt 10:8) Nós fazemos exatamente isso: deixamos Bíblias e publicações com as pessoas sem cobrar nada. (2Co 2:17) Mas essas publicações têm as verdades preciosas da Palavra de Deus. Além disso, imprimir e enviar publicações para as congregações no mundo todo dá muito trabalho e custa caro. Por isso, não queremos pegar mais publicações do que precisamos.</p>
                <a href="Stocks" class="btn btn-primary btn-block">Publicações</a>
            </div>
        </div>
        </div>
    </div>
